<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teka-Teki Silang</title>
    <link rel="stylesheet" href="css/tts/style.css">
    <script src="js/tts/main.js"></script>
</head>

<body>
    <div class="content">
        <div class="content-left">
            <h2>Teka - teki silang</h2>
            <p>Mendatar</p>
            <ul>
                <li>2. Shalat sunat di bulan ramadhan</li>
                <li>4. Bulan sebelum Syawal</li>
                <li>5. Tantangan siang hari di bulan Ramadhan</li>
                <li>6. Jalan - jalan sore menunggu magrib di bulan Ramadhan</li>
            </ul>

            <p>Menurun</p>
            <ul>
                <li>1. Hidangan berbukan di bulan puasa</li>
                <li>2. Ngaji Quran</li>
                <li>3. Hari Kemenganan</li>
            </ul>
        </div>
        <div class="content-right">

            <div class="boxs">
                <div class="line-1">
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="white box">

                        <div class="number">
                            <p>1</p>
                        </div>
                        <div class="display-answer" id="st1">
                            <p>T</p>
                        </div>
                    </div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                </div>

                <div class="line-2">

                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="white box">

                        <div class="number">
                            <p>2</p>
                        </div>
                        <div class="display-answer" id="dd1">
                            <p>T</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="dd2">
                            <p>A</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="dd3">
                            <p>R</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="dd4">
                            <p>A</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="dd5">
                            <p>W</p>
                        </div>
                    </div>
                    <div class="white box">

                        <div class="number">
                            <P>3</P>
                        </div>
                        <div class="display-answer" id="dd6">
                            <p>E</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="dd7">
                            <p>H</p>
                        </div>
                    </div>
                </div>


                <div class="line-3">
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="dt2">
                            <p>A</p>
                        </div>
                    </div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer " id="st3">
                            <p>K</p>
                        </div>
                    </div>
                    <div class="box"></div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="tt2">
                            <p>I</p>
                        </div>
                    </div>
                    <div class="box"></div>
                </div>

                <div class="line-4">
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="dt3">
                            <p>D</p>
                        </div>
                    </div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="st4">
                            <p>J</p>
                        </div>
                    </div>
                    <div class="box"></div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="tt3">
                            <p>D</p>
                        </div>
                    </div>
                    <div class="box"></div>
                </div>

                <div class="line-5">
                    <div class="white box">

                        <div class="number">
                            <p>4</p>
                        </div>
                        <div class="display-answer" id="ed1">
                            <p>R</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="ed2">
                            <p>A</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="ed3">
                            <p>M</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="ed4">
                            <p>A</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="ed5">
                            <p>D</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="ed6">
                            <p>A</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="ed7">
                            <p>N</p>
                        </div>
                    </div>
                    <div class="box"></div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="st5">
                            <p>I</p>
                        </div>
                    </div>
                    <div class="box"></div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="tt4">
                            <p>U</p>
                        </div>
                    </div>
                    <div class="box"></div>

                </div>

                <div class="line-6">
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class=" white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="dt5">
                            <p>R</p>
                        </div>
                    </div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="st6">
                            <p>L</p>
                        </div>
                    </div>
                    <div class="box"></div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="tt5">
                            <p>L</p>
                        </div>
                    </div>
                    <div class="box"></div>

                </div>

                <div class="line-7">
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="white box">
                        <div class="number">
                            <p>5</p>
                        </div>
                        <div class="display-answer" id="ld1">
                            <p>H</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="ld2">
                            <p>A</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="ld3">
                            <p>U</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="ld4">
                            <p>S</p>
                        </div>
                    </div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="tt6">
                            <p>F</p>
                        </div>
                    </div>
                    <div class="box"></div>

                </div>

                <div class="line-8">

                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class=" white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="dt7">
                            <p>S</p>
                        </div>
                    </div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer " id="tt7">
                            <p>I</p>
                        </div>
                    </div>
                    <div class="box"></div>

                </div>

                <div class="line-9">


                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="tt8">
                            <p>T</p>
                        </div>
                    </div>
                    <div class="box"></div>

                </div>

                <div class="line-10">

                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="box"></div>
                    <div class="white box">

                        <div class="number">
                            <p>6</p>
                        </div>
                        <div class="display-answer" id="end1">
                            <p>S</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="end2">
                            <p>A</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="end3">
                            <p>H</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="end4">
                            <p>U</p>
                        </div>
                    </div>
                    <div class="white box">
                        <div class="number">
                        </div>
                        <div class="display-answer" id="end5">
                            <p>R</p>
                        </div>
                    </div>
                    <div class="box"></div>

                </div>







            </div>
        </div>
        <div class="content-bottom">
            <div class="bottom">
                <h1>Silahkan masukkan jawaban kamu, disini!</h1>
                <select name="ans" id="ans">
                    <option value="takjil">1. Menurun</option>
                    <option value="tadarus">2. Menurun</option>
                    <option value="taraweh">2. Mendatar</option>
                    <option value="eidulfitr">3. Menurun</option>
                    <option value="ramadan">4. Mendatar</option>
                    <option value="haus">5. Mendatar</option>
                    <option value="sahur">6. Mendatar</option>
                </select>
                <input type="text" name="fname" id="fname" required placeholder="Masukan Jawaban...">
                <input type="submit" value="submit" onclick="answer()">


            </div>
        </div>
    </div>
</body>

</html>